* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gainsboro;
  height: 800px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.button {
  width: 156px;
  height: 30px;
  border: none;
  border-radius: 6px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  background-color: #233975;
  color: white;
}

.button:hover {
  background-color: #38932c;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #b31e1e;
}

label {
  min-width: fit-content;
}

input {
  font-size: 14px;
  margin: 5px 0px;
  width: inherit;
  height: 28px;
  border-radius: 7px;
  border: 1px solid gray;
  padding-left: 10px;
  margin-left: 10px;
}

input:focus {
  border: 1px solid purple;
}

/* Main container styles */
.main-container {
  border: 1px solid black;
  width: 100%;
  height: fit-content;
}

.dashboard-header {
  /* border: 1px solid red; */
  height: 160px;

  background-image: linear-gradient(
      rgba(84, 16, 90, 0.644),
      rgba(84, 16, 90, 0.644)
    ),
    url("background.png");
  /* opacity: 0.5; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  padding-left: 40px;
  font-size: 50px;
}

.dashboard-container {
  /* border: 2px solid green; */
  background-color: white;
  height: fit-content;
  padding: 30px;
}

.dashboard-container-header {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 170px;
  margin-right: 20px;
}

.logo:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.welcome-message {
  font-size: 30px;
  font-weight: 600;
}

.modules-container {
  background-color: rgb(219, 219, 219);
  /* border: 1px solid green; */
  min-height: 550px;
  height: fit-content;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* flex-direction: row; */
  margin-top: 10px;
}

.module {
  width: 100%;
  height: fit-content;
  min-height: 70px;
  margin-bottom: 20px;
  /* border: 2px dashed blue; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.module-details {
  background-color: gray;
  width: 100%;
  height: 60px;
  border-radius: 10px 10px 0px 0px;
  padding: 0px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-name {
  font-size: 26px;
  font-weight: 600;
}

.module-dropdown {
  background-color: rgb(235, 231, 232);
  width: 100%;
  height: fit-content;
  font-size: 18px;

  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.assessment {
  height: 40px;
  border: 1px solid gray;
  padding: 0px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assessment button {
  font-size: 10px;
  width: 130px;
  height: 24px;
}

.hide {
  display: none;
}

/* ADD MODULE POPUP  */
.add-module-popup-container {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;

  display: none;
  align-items: center;
  justify-content: center;
}

.add-module-popup {
  width: 450px;
  height: 300px;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
  padding: 15px;

  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}

.popup-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.add-module-popup-overlay {
  border: 3px solid green;
  position: absolute;
  background-color: black;
  width: 100%;
  min-height: 100%;
  height: 100%;
  /* height: fit-content; */
  display: flex;
  opacity: 0.3;
  z-index: 2;
}

.popup-input-container {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  margin-bottom: 5px;
}

.popup-buttons-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.popup-button {
  width: 100px;
  margin-right: 10px;
}

.original-module {
  display: none;
}

/* ADD ASSESSEMENT POPUP */
.add-assessment-popup-container {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;

  display: none;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}

.add-assessment-popup {
  width: 450px;
  height: 300px;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
  padding: 15px;

  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}

.add-assessment-popup-overlay {
  border: 1px solid red;
  position: absolute;
  background-color: black;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  display: flex;
  opacity: 0.3;
  z-index: 2;
}

/* MODULE FEEDBACK POPUP */
.module-feedback-popup-container {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;

  display: none;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}

.module-feedback-popup {
  width: 630px;
  min-height: 330px;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
  padding: 15px;

  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.module-feedback-overlay {
  border: 1px solid red;
  position: absolute;
  background-color: black;
  width: 1440px;
  min-height: 100%;
  height: fit-content;
  display: flex;
  opacity: 0.3;
}

/* Change hwo the cancel button in the module feedback popup behaves */
.module-feedback-button-container {
  position: relative;
  top: 15px;
  bottom: 0px;
  right: 0px;
  margin-bottom: 15px;
}

.module-feedback-container {
  margin-top: 15px;
}

/* MOBILE STYLES */
@media only screen and (max-width: 400px) {
  body {
    width: 100%;
  }

  .button {
    width: 90px;
    height: 20px;
    font-size: 8px;
  }

  label {
    font-size: 11px;
  }

  input {
    font-size: 10px;
    height: 20px;
    border-radius: 5px;
  }

  .main-container {
    border: 2px solid red;
  }

  .dashboard-header {
    height: 90px;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
  }

  .main-title {
    font-size: 22px;
    padding-left: 0px;
  }

  .dashboard-container {
    padding: 20px;
  }

  .logo {
    width: 80px;
    margin-right: 0px;
  }

  .welcome-message {
    font-size: 20px;
  }

  .module {
    min-height: 50px;
  }

  .module-details {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    height: 50px;
  }

  .module-name {
    font-size: 14px;
  }

  .module-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 150px;
  }

  .module-buttons .button {
    width: 70px;
    margin: 1px;
    font-size: 6px;
  }

  .assessment {
    height: 30px;
    padding: 0px 10px;
  }

  .assessment button {
    font-size: 6px;
    width: 60px;
  }

  .assessment p {
    font-size: 10px;
  }

  .popup-title {
    font-size: 10px;
    margin-bottom: 5px;
  }

  /* ADD MODULE POPUP */
  .add-module-popup {
    width: 320px;
    height: 205px;
  }

  .popup-input-container {
    height: 26px;
  }

  .popup-buttons-container {
    bottom: 10px;
    right: 5px;
  }

  /* ADD ASSESSMENT POPUP */
  .add-assessment-popup {
    width: 320px;
    height: 205px;
  }

  .popup-input-container {
    height: 26px;
  }

  /* MODULE FEEDBACK POPUP */
  .module-feedback-popup {
    width: 380px;
    height: 205px;
  }

  .module-feedback-popup-container {
    font-size: 12px;
  }

  .hide {
    display: none;
  }
}
